
.dancing-script-head {  /*Google font used*/
     font-family: "Dancing Script", cursive;
     font-optical-sizing: auto;
     font-weight:  bold;
     font-style: normal;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 70bb4f6 (exam 3 updates and creation of cart.js and cart.html and 11 mores images to display on menu.html)
.menu_table1, .menu_table1 th, .menu_table1 td {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 50%;*/
    color: darkgoldenrod !important;
    font-weight: lighter;
<<<<<<< HEAD
    font-family: "Dancing Script", serif;
    font-size: x-large;
    border-style: inherit;
}
caption {
    color: black;
=======
.menu_table1{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: black;
    font-weight: bold;
=======
>>>>>>> 70bb4f6 (exam 3 updates and creation of cart.js and cart.html and 11 mores images to display on menu.html)
    font-family: "Dancing Script", serif;
    font-size: x-large;
    border-style: inherit;
}
caption {
<<<<<<< HEAD
    color: darkgoldenrod;
>>>>>>> ae626e9 (updated script.js file and updated html files)
=======
    color: black;
>>>>>>> 70bb4f6 (exam 3 updates and creation of cart.js and cart.html and 11 mores images to display on menu.html)
}
 /* Base Styles*/
.menu_body{
    background-color: #cab994;
    cursor: url("images/img3.png"), auto;/*Font awesome icon used as a cursor on webpage*/
}
a {
    color: darkgoldenrod;
    font-weight: bold;
    font-family: "Dancing Script", sans-serif;
    font-size: xx-large;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 70bb4f6 (exam 3 updates and creation of cart.js and cart.html and 11 mores images to display on menu.html)
.a_menu {
    color: darkgoldenrod;
    font-weight: bold;
    font-family: "Dancing Script", sans-serif;
    font-size: x-large;
}
<<<<<<< HEAD
=======
>>>>>>> ae626e9 (updated script.js file and updated html files)
=======
>>>>>>> 70bb4f6 (exam 3 updates and creation of cart.js and cart.html and 11 mores images to display on menu.html)
/* unvisited link */
a:link {
    color: darkgoldenrod;
}

/* visited link */
a:visited {
    color: goldenrod;
}

/* mouse over link */
a:hover {
    color: darkolivegreen;
}

/* selected link */
a:active {
    color: blue;
}
.title {
    border-radius: 10px;
    text-align: center;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    background-color: black;
    font-family: "Dancing Script", serif;
    color: darkgoldenrod; /*the dark golden color for the coffee bar reminds of milk chocolate color*/
}
.description{
    font-family: "Dancing Script", serif;
    font-size: xx-large;
}

.reservation_body{
    background-color: #cab994;
    font-family: "Dancing Script", serif;
    font-size: 30px;
    cursor: url("../images/img3.png"), auto; /*Font awesome icon used as a cursor on webpage*/
}
.home_body{
    background-color: #cab994;
}
.menu_p{
    border-radius: 10px;
    text-align: center;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    background-color: black;
    color:darkgoldenrod;/*the dark golden color for the coffee bar reminds of milk chocolate color*/
    font-size: 30px;
}
.reservation_p{
    border-radius: 10px;
    text-align: center;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    background-color: black;
    color:darkgoldenrod; /*the dark golden color for the coffee bar reminds of milk chocolate color*/
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
.card{
    background-color:transparent;
    padding:0;
    border:transparent;
   width: 50%;
}
>>>>>>> ae626e9 (updated script.js file and updated html files)
=======
>>>>>>> 70bb4f6 (exam 3 updates and creation of cart.js and cart.html and 11 mores images to display on menu.html)
.fa-cutlery {      /*font awesome styling in menu page*/
    color: #ff4500;       /* Change icon color */
    font-size: 3rem;      /* Change icon size */
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* Add shadow */
    transition: transform 0.3s ease; /* For smooth hover effects */
}
.fa-utensils {      /*font awesome styling in menu page*/
    color: #ff4500;       /* Change icon color */
    font-size: 3rem;      /* Change icon size */
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* Add shadow */
    transition: transform 0.3s ease; /* For smooth hover effects */
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 70bb4f6 (exam 3 updates and creation of cart.js and cart.html and 11 mores images to display on menu.html)
}
#cart-count {
    font-size: 0.7rem;
    vertical-align: top;
    margin-left: -5px;
    padding: 0.35em 0.65em;
}
/* Make the cart icon and text look clickable */
.nav-link i {
    margin-right: 5px;
<<<<<<< HEAD
=======
>>>>>>> ae626e9 (updated script.js file and updated html files)
=======
>>>>>>> 70bb4f6 (exam 3 updates and creation of cart.js and cart.html and 11 mores images to display on menu.html)
}